* {
border: none;
border-radius: 14px;
font-family: "DaddyTimeMono Nerd Font", sans-serif;
font-size: 15px;
min-height: 0;
}

window#waybar {
  background-color: rgba(15, 25, 45, 0.95);
  border: 1.5px solid #60a5fa;
  color: #e5edff;
}

#workspaces, #group-music, #group-apps, #group-sistema, #group-reloj {
background: rgba(30, 45, 80, 0.55);
margin: 4px 2px;
padding: 0px 8px;
}

#custom-music-time {
color: #93c5fd;
font-size: 14px;
font-weight: bold;
}

#custom-music {
color: #bfdbfe;
font-weight: bold;
font-size: 15px;
margin-top: -4px;
}

/* RED */
#network { color: #38bdf8; }

/* SSID */
#network#ssid {
color: #e5edff;
padding-left: 10px;
padding-right: 5px;
font-size: 14px;
font-weight: bold;
}

/* ICONOS */
#custom-play-pause { color: #22d3ee; }
#custom-prev, #custom-next { color: #7dd3fc; }
#pulseaudio { color: #60a5fa; }
#backlight { color: #fde68a; }
#custom-notification { color: #93c5fd; }
#clock.time { color: #60a5fa; }
#clock.date { color: #bfdbfe; }

scale trough {
  background-color: rgba(96, 165, 250, 0.25);
  border-radius: 8px;
  min-width: 70px;
  min-height: 8px;
  margin: 8px;
}

scale highlight {
  background-color: #60a5fa;
  border-radius: 8px;
}
/* Botón de la aplicación (el contenedor) */
#taskbar button {
margin: 4px 2px;
padding: 0px 8px;
border-radius: 10px;
background-color: rgba(49, 50, 68, 0.5); /* Color de tu grupo sistema */
transition: all 0.3s ease;
}

/* El icono dentro del botón */
#taskbar button image {
padding: 2px;
/* Bajamos la opacidad para que el icono "herede" un poco del fondo */
opacity: 0.6;
}

/* CUANDO LA APP ESTÁ ACTIVA: Aquí es donde cambia el tema */
#taskbar button.active {
background-color: #60a5fa; /* El color lila de tu tema */
border: 1px solid #60a5fa;
}

#taskbar button.active image {
opacity: 1; /* El icono se ilumina */
}

/* Al pasar el mouse */
#taskbar button:hover {
background-color: rgba(203, 166, 247, 0.4);
}
